@model int

@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4">
    <h1>Welcome to the Home Page</h1>
    <p>Hello!! Number of visits to this page: @Model</p>
    <!-- Link to the OtherPage -->
    <a href="@Url.Action("OtherPage", "Home")" class="btn btn-primary">Go to Other Page</a>
</div>
